/**
 * style.css
 *
 * EECS 183: Final Project
 * Fall 2016
 *
 * Stylizes Snake Game
 */

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    text-align: center;
}

#canvas-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px auto;
}

#canvas-table tr {
}

#canvas-table td {
}

#highscore-display {
  text-align: center;
}
#display-score {
  display: inline;
  margin-left: 300px;
}

#game-instructions {
  text-align: center;
  margin-top: 20px;
}

#button-container {
    text-align: center;
}

#button-container form {
    display: inline-block;
}
